/**index.wxss**/
.container {
  height: 100%;
  background-color:#f5f2f5;
}
.scroll-view {
  height: 100%;
  padding: 5px;
}
.t-input__name{
  width: 164rpx;
  margin-right: 32rpx;
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload-container{
  background-color:white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.upload-tip{
margin-bottom: 10px;
margin-left: 2px;
}
.custom-divider{
  margin-top: 10px;
}
.music-id-radio-box{
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #fff;
  padding-left: 32rpx;
  padding-top: 10px;
  padding-bottom: 10px;
}
.push-person-title{
  padding-left: 32rpx;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.section {
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.input-label {
  display: inline-block;
  width: 100px;
}

.input-box {
  width: 200px;
}

