/**index.wxss**/
.container {
  height: 100%;
  background-color:#f5f2f5;
}
.scroll-view {
  height: 100%;
  padding: 5px;
  margin-bottom: 90px;
}
.t-input__name{
  width: 164rpx;
  margin-right: 32rpx;
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload-container{
  background-color:white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.upload-tip{
margin-bottom: 10px;
margin-left: 2px;
}
.custom-divider{
  margin-top: 10px;
}
.music-id-radio-box{
  padding: 32rpx;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  --td-checkbox-icon-checked-color:#19a318;
}
.push-person-title{
  padding-left: 32rpx;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.custom-calendar{
  --td-calendar-active-color:#19a318;
  --td-primary-color-7:#19a318;//全局修改primary颜色
  margin-bottom: 25px;
}
.custom-picker{
  --td-picker-confirm-color:#19a318;
}
.custom-radio{
  --td-radio-icon-checked-color:#19a318;
}
.section {
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.input-label {
  display: inline-block;
  width: 100px;
}

.input-box {
  width: 200px;
}

.mini-btn{
  width: 100px;
}